.cook
.DS_Store
.ipynb_checkpoints
*.hpp
*.html
*.o
*.pdf
*.pkl
*.tmp
__pycache__
linear/linear
padding/exact
padding/padded
profile/fourier_centered
profile/fourier_non_centered
profile/graph_centered
profile/graph_non_centered
profile/standard_centered
profile/standard_non_centered
trees/trees
tube/tube
venv
