__pycache__
.cook
.DS_Store
.ipynb_checkpoints
.Rhistory
*.hpp
*.html
*.o
*.pdf
*.pkl
*.tmp
linear/linear
padding/exact
padding/padded
playground
profile/fourier_centered
profile/fourier_non_centered
profile/graph_centered
profile/graph_non_centered
profile/standard_centered
profile/standard_non_centered
submission
trees/trees
tube/tube
venv
